# Built packages & binaries
*.apk
*.aab
*.dex
*.ap_
*.so
*.jar
*.class

# Build outputs & caches
**/build/
.gradle/
**/.gradle/

# Android Studio & IDE configurations
.idea/
**/.idea/
*.iml
**/*.iml
.cxx/
**/.cxx/
local.properties
captures/

# Emulator files
.android/
**/.android/
*.avd/
*.img

# Python & miscellaneous files
__pycache__/
**/__pycache__/
*.py[cod]
.venv/
output.txt
*.log