# Ignore build and binary files
*.mp4
*.zip
*.exe
*.pdrproj
*.json
*.jpg
*.png

# Ignore build outputs
/build/
/app/build/
/*.zip
/*.mp4
/*.exe


# Ignore IDE/workspace junk
*.code-workspace

# Ignore large project folders
PowerDirector/
camera/
